name: Backend CI

on:
  push:
    branches: [main]
    paths:
      - backend/**

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: backend
        run: npm install

      - name: Start app (test)
        working-directory: backend
        run: node server.js
